.ongoingcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.ongoingcontainer .backlogcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vh;
    flex-direction: column;
    position: relative;
}
.ongoingcontainer .backlogcontainer .heading{
    background-color: rgb(200, 223, 71);
   color: white;
   width: 100%;
   text-align: center;
}
.ongoingcontainer .tododiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    flex-direction: row;
}
#bodyrowshow{
    display: "";
}
#bodyrowhide{
    display: none;
}
